.container {
	user-select: none;
	display: grid;
	gap: 20px;
	grid-template-columns: minmax(0, 1fr) fit-content(100%) minmax(0, 1fr);

	align-items: center;
	justify-content: space-between;
	background-color: var(--darkBgColor);
	
	margin-left: auto;
	margin-right: auto;

	color: var(--lightGrayFg);

	border-color: var(--softGrayFg);
	border-style: solid;
	border-width: 2px;

	width: clamp(275px, 37.4vw, 363px);
	font-size: clamp(37.4px, 4.4vw, 49.5px);
}

.top {
	border-radius: 10px 10px 0 0;
}

.bottom {
	font-size: clamp(30.8px, 3.3vw, 39.6px);
	border-radius: 0 0 10px 10px;
}

.big {
	width: clamp(357.5px, 60.5vw, 583px);
}

.big.top {
	font-size: clamp(38.5px, 5.5vw, 60.5px);
}

.big.bottom {
	font-size: clamp(28.6px, 4.4vw, 49.5px);
}

.indicator {
	width: clamp(15.4px, 2.2vw, 22px);

	border-color: var(--softGrayFg);
	border-style: solid;
	border-width: 2px;
	border-radius: 5px;
}