.footer {
	position: fixed;
	left: 0%;
	bottom: 0%;
	width: 100%;
  line-height: clamp(19px, 2vw, 23px);
  overflow-wrap: break-word;

  padding-top: 4px;

  text-align: center;
	padding-bottom: 0;

	font-size: clamp(16px, 2vw, 20px);

	background-color: var(--darkBgColor);
}

.wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.icon {
	font-size: clamp(14px, 1.4vw, 17px);
}

.inlineContainer {
	white-space: nowrap;
	width: min-content;
}

.left {
	margin-left: 5px;
	text-align: left;
}

.right {
	margin-right: 5px;
	text-align: right;
}