.footer {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

	position: fixed;
	left: 0%;
	bottom: 0%;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box; 
  line-height: clamp(20px, 2.1vw, 25px);
  overflow-wrap: break-word;

  padding-top: 4px;

  text-align: center;
	padding-bottom: 0;

	font-size: clamp(20px, 2.1vw, 25px);

	background-color: var(--darkBgColor);
}

.inlineContainer {
	white-space: nowrap;
	width: min-content;
}

.left {
	margin-left: 5px;
	text-align: left;
}

.right {
	margin-right: 5px;
	text-align: right;
}