.button {
	background-color: var(--darkBgColor);
	color: var(--lighterGrayFg);
	font-family: Arial, Helvetica, sans-serif;
	overflow: hidden;
	text-overflow: ellipsis;

	display: flex;
	align-items: center;
	justify-content: center;
	
	text-align: center;
	width: clamp(52.8px, 6.6vw, 66px);
	height: clamp(28.6px, 4.4vw, 30.8px);
	font-size: clamp(19px, 2.7vw, 23.1px);
	font-weight: bold;

	border-style: solid;
	border-width: 2px;
	border-color: var(--softGrayFg);
	border-radius: 0 10px 0 10px;

	transition: 0.3s;
}

.active {
	color: var(--softAccent);
	background-color: var(--darkAccent);
	border-color: var(--mainAccent);
}

.button:hover {
	background-color: var(--softerDarkAccent);
}

.highlighted {
	background-color: #0a4f4f;
}

.highlighted:hover {
	background-color: #147373;
}

.highlighted.active {
	border-color: #00ffff;
	color: #fff;
	background-color: #199a9a;
}

.borderRight {
	border-radius: 0 10px 0 10px;
}

.borderLeft {
	border-radius: 10px 0 10px 0;
}

.borderDown {
	border-radius: 0 0 10px 10px;
}

.borderUp {
	border-radius: 10px 10px 0 0;
}

.borderCircle {
	border-radius: 10px 10px 10px 10px;
}

.borderSquare {
	border-radius: 0 0 0 0;
}

.medium {
	font-size: clamp(13.6px, 1.85vw, 21px);
}

.small {
	font-size: clamp(16.5px, 2.2vw, 22px);
}

.smaller {
	font-size: clamp(9.46px, 1.1vw, 11px);
}

.fullWidth {
	justify-content: space-between;
	width: 100%;
}

.doubleHeight {
	height: clamp(39.6px, 4.4vw, 52.8px);
}